/*.recommend_box {
  width: 100%;
}

.first_sec {
  width: 100%;
  display: flex;
  justify-content: center;
}

.random_baner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
  padding: 3%;
  border: solid 1px gray;
  border-radius: 15px;
}

input {
  width: 30%;
}
*/
