.swiper-button-next,
.swiper-button-prev {
  color: rgb(122, 202, 100) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}
